<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns:p="http://www.springframework.org/schema/p"
	    xmlns:context="http://www.springframework.org/schema/context"
	    xmlns:aop="http://www.springframework.org/schema/aop"
	    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd">
         
         <!-- 配置LocalSessionFactoryBean来加载hibernate.cfg.xml配置文件 -->
         <bean id="sesionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
         	<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
         
         </bean>
         
         
         <!-- 配置平台事务管理器 -->
         <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
         	<!-- 注入 sesionFactory-->
         	<property name="sessionFactory" ref="sesionFactory"></property>
         </bean>
         
         <!-- 配置事务增强 -->
         <tx:advice id="txAdvice" transaction-manager="txManager">
         	<tx:attributes>
         	
         			<tx:method name="register*" isolation="DEFAULT" propagation="REQUIRED"/>
         	</tx:attributes>
         
         </tx:advice>
         
         <!-- aop编程 -->
         <aop:config>
         	<aop:pointcut expression="execution(* com.qf.service..*.*(..))" id="myPointCut"/>
         	<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointCut"/>
         
         </aop:config>
         
         
   
   <!-- 配置action  注意：struts2的action是多实例的-->
   <bean id="userAction" class="com.qf.action.UserAction" scope="prototype">
   	<!--如果strust2的action交给spring来管理，自动注入就失效了，必须要手动注入 -->
   		<property name="userService" ref="userService"></property>
   
   </bean>
   
   
   <!-- 配置Hibernatetemplate模板类 -->
  <!--  	<bean id="template" class="org.springframework.orm.hibernate5.HibernateTemplate">
   	
   		<property name="sessionFactory" ></property>
   	</bean> -->
   
   <!-- 配置 com.qf.service.impl.UserServiceImpl-->
  <bean id="userService" class="com.qf.service.impl.UserServiceImpl">
  
  	<property name="userDao" ref="userDao"></property>
  </bean>
  
  
  <!-- 配置dao -->
  <bean id="userDao" class="com.qf.dao.impl.UserDaoImpl">
  	<!-- 可以注入Hibernatetemplate 或者 sesionFactory-->
  	<property name="sessionFactory" ref="sesionFactory"></property>
  
  </bean>
</beans> 