<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sql映射   namespace:用来隔离sql的 -->
<mapper  namespace="com.qf.dao.UserMapper">


	
	<!-- 输出映射  输出简单类型 -->
	
	<select id="selectCount" resultType="int">
		select count(uid) from users
		
	</select>



</mapper>