<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	    xmlns:p="http://www.springframework.org/schema/p"
	    xmlns:context="http://www.springframework.org/schema/context"
	    xmlns:aop="http://www.springframework.org/schema/aop"
	    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx.xsd">
         
         <!-- 开启组件扫描 -->
   <!-- 配置c3p0连接池 -->
      <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="root"></property>     
		<property name="password" value="root"></property>     
		<property name="jdbcUrl" value="jdbc:mysql:///haha"></property>     
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>       
     </bean>
     
     <!-- 1.配置平台事务管理器 -->
     <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
     	<!-- 注入数据源 -->
     	<property name="dataSource" ref="dataSource"></property>

     </bean>
     
   
     
   <!-- 开启事务注解 
   proxy-target-class="true"强制使用cglib代理
   -->
   <tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>
     
     
     <bean id="transferDao" class="com.qf.dao.impl.TransferDaoImpl">
     	<!-- 可以注入数据源或者JdbcTemplate模板类 -->
     	<property name="dataSource" ref="dataSource"></property>
     
     </bean>
     
     <bean id="transferService" class="com.qf.service.impl.TransferServiceImpl">
     	<!-- 注入dao -->
     	<property name="transferDao" ref="transferDao"></property>
     
     </bean>

     
  
</beans>